<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit.</h1>
    <ul>
    {{#each result}}
        <li>
            <a href="/{{this.id}}">{{this.asignatura}}</a>
            <h1>{{this.nota}}</h1>
            <p>{{this.nota}}</p>
        </li>
    {{/each}}
    </ul>
</body>
</html>