<div>
    <h1>Lorem ipsum dolor sit amet consectetur.</h1>
    <ul>
        {{#each resultados}}
            <li>
                <h2>{{this.asignatura}}</h2>
                <p>{{this.nota}}</p>
                <h5>{{this.titulo}}</h5>
            </li>
        {{/each}}
    </ul>
</div>