<form action="/formy" method="post">
    <div>
        <label for="asignat">Asignatura</label>
        <input type="text" name="asignat" id="asignat">
    </div>
    <div>
        <label for="nota">Nota</label>
        <input type="text" name="nota" id="nota">
    </div>
    <div>
        <label for="titu">Titulo</label>
        <input type="text" name="titu" id="titu">
    </div>
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>