<form action="/mi_formulario" method="post">
    <div>
        <label for="mi_asignatura">Nombre</label>
        <input type="text" name="mi_asignatura" id="mi_asignatura">
    </div>
    <div>
        <label for="mi_nota">Apellido</label>
        <input type="text" name="mi_nota" id="mi_nota">
    </div>
    <div>
        <label for="mi_titulo">Edad</label>
        <input type="text" name="mi_titulo" id="mi_titulo">
    </div>
    <div>
        <input type="submit" value="Enviar">
</form>